.avatar {
  height: calc(3rem + 12px);
  width: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.comment {
  display: flex;
  gap: 1rem;
}

.comment+.comment {
  margin-top: 1.5rem;
}

.commentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.commentContent {
  display: flex;
  flex-direction: column;
  background: var(--gray-700);
  padding: 1rem;
  border-radius: 8px;
}

.commentContent>header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.commentContent>header>button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-400);

  line-height: 0;
  font-size: 0;

  transition: color 0.1s;
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentContent>header>button:hover {
  color: var(--red-500);
}

.author {
  display: flex;
  flex-direction: column;
}

.author>strong {
  line-height: 1.6;
  color: var(--gray-100);
  font-size: 0.875rem;
}

.author>time {
  line-height: 1.6;
  color: var(--gray-400);
  font-size: 0.75rem;
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-400);

  display: flex;
  align-items: center;

  transition: color 0.1s;
}

.commentBox footer button:hover {
  color: var(--green-500);
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}